@mixin select($bg: $primaryBg, $color: $primaryFont) {
	.temat__select {
		&__control {
			caret-color: $mainFont;
			background-color: darken($bgCard, 7.5%);
			color: $mainFont;
			border: none;
			outline: none;
			border-radius: $smBorderRadius;
			box-shadow: none;
			&:hover {
				border: none;
				box-shadow: 0 0 0 0.0625rem rgba($bg, 0.2);
			}
			&--is-focused {
				border: none;
				@include focusVisibleStyles($bg, $bg);
				&:hover {
					@include focusVisibleStyles($bg, $bg);
				}
			}
		}
		&__menu {
			z-index: 999999;
			border-radius: $smBorderRadius;
			background-color: $bgCard;
			color: $mainFont;
			box-shadow: map-get($elevations, "light"), 0 0 0 0.0625rem rgba($bg, 0.5);
			&-list {
				padding: 0.25rem;
				position: relative;
				& > div {
					position: relative;
				}
			}
		}
		&__option {
			border-radius: $smBorderRadius;
			overflow: hidden;
			text-overflow: ellipsis;
			&:active {
				background-color: rgba($bg, 0.2);
			}
			&--is-focused {
				background-color: darken($bgCard, 5%);
			}
			&--is-selected {
				background-color: $bg;
				color: $color;
				&:active {
					background-color: $bg;
				}
			}
			&--is-disabled {
				color: rgba($bg, 0.75);
			}
		}
		&__indicator-separator {
			background-color: rgba($subFont, 0.5);
		}
		&__single-value {
			color: $mainFont;
		}
		&__input {
			color: $mainFont;
		}
		&__multi-value {
			background-color: $bgCard;
			&__label {
				color: $mainFont;
			}
		}
		svg {
			fill: rgba($subFont, 0.75);
		}
	}
}
.temat__select__container {
	@include select();
	&--danger {
		@include select($dangerBg, $dangerFont);
	}
	&.temat__select__phantom__values {
		.temat__select__multi-value {
			opacity: 0;
			width: 0;
			height: 0;
			pointer-events: none;
			position: absolute;
		}
	}
	// &.async-select {
	// 	.temat__select__menu {
	// 		&-list {
	// 			padding: 0 0.25rem;
	// 		}
	// 	}
	// }
}

.react-datepicker-wrapper {
	width: 100%;
}

.react-datepicker-popper {
	width: 100%;
	z-index: 999;
	.react-datepicker {
		width: 100%;
		background-color: $bgCard;
		color: $mainFont;
		font-size: 1rem;
		border: none;
		border-radius: $smBorderRadius;
		box-shadow: 0 0 0 0.0625rem rgba($subFont, 0.25), map-get($elevations, "medium");
		&__triangle {
			display: none;
		}
		&__month-container {
			width: 100%;
			float: none;
		}
		&__header {
			&:not(.react-datepicker__header--has-time-select) {
				border-radius: 0;
			}
			padding: 0.625rem;
			background-color: transparent;
			border-bottom: 1px solid rgba($mainFont, 0.2);
		}
		&__navigation {
			width: 2rem;
			height: 2rem;
			margin-top: 0.3125rem;
			border-radius: $smBorderRadius;
			display: grid;
			align-content: center;
			background-color: rgba($mainFont, 0.2);
			&:hover {
				background-color: rgba($mainFont, 0.1);
			}
			&--previous {
				margin-left: 0.3125rem;
			}
			&--next {
				margin-right: 0.3125rem;
			}
			&-icon {
				border-color: $mainFont;
				position: relative;
				display: grid;
				align-content: center;
				font-size: 0;
				&::before {
					border-color: $mainFont;
					position: relative;
					top: unset;
					right: unset;
					left: unset;
					width: 0.625rem;
					height: 0.625rem;
				}
			}
		}
		&__current-month {
			color: $mainFont;
			font-size: 1rem;
			padding-bottom: 0.625rem;
		}
		&__day-names {
			margin-bottom: 0;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}
		&__day-name {
			color: $subFont;
			margin: 0.3125rem 0 0 0;
			width: 2rem;
			line-height: 1.4;
		}
		&__month {
			margin: 0;
			padding: 0.625rem;
		}
		&__week {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			padding-bottom: 0.3125rem;
		}
		&__week-number {
			margin: 0;
			width: 2rem;
			height: 2rem;
			display: grid;
			align-content: center;
			line-height: 1;
			color: $primaryBg;
			font-size: 0.75rem;
			font-weight: 900;
		}
		&__day {
			margin: 0;
			width: 2rem;
			height: 2rem;
			display: grid;
			align-content: center;
			line-height: 1;
			border-radius: $smBorderRadius;
			color: $mainFont;
			font-weight: 600;
			&:hover {
				background-color: rgba($mainFont, 0.1);
			}
			&--disabled {
				color: $dangerBg;
				background-color: rgba($dangerBg, 0.1);
				&:hover {
					background-color: rgba($dangerBg, 0.1);
				}
			}
			&--outside-month {
				opacity: 0.5;
				background-color: $bgCard;
			}
			&--weekend {
				color: $dangerBg;
				&:hover {
					background-color: rgba($dangerBg, 0.1);
				}
			}
			&--today {
				box-shadow: 0 0 0 0.125rem $primaryBg;
				&.react-datepicker__day--weekend,
				&.react-datepicker__day--disabled {
					box-shadow: 0 0 0 0.125rem $dangerBg;
				}
			}
			&--keyboard-selected {
				background-color: transparent;
				box-shadow: 0 0 0 0.25rem rgba($primaryBg, 0.25);
			}
			&--selected {
				background-color: $primaryBg;
				color: $primaryFont;
				box-shadow: 0 0 0 0.25rem rgba($primaryBg, 0.25);
				&:hover {
					background-color: rgba($primaryBg, 0.75);
				}
			}
		}
	}
}
